*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App-header{
  position: sticky;
  top: 0;
  background-color: #222;
  color: white;
  left: 0;
  display: flex;
  justify-content: space-between;

}

.navbar-item{
  color: white;
  display: inline-block;
  line-height: 52px;
}

.App-title{
  font-size: 1.5em;
}

.App-intro{
  font-size: large;
}

.m-t-20{
  margin-top: 20px;
}

.card{
  box-shadow: 0 1px 5px 1px rgba(0, 0, 0, 0.1);
}

.page-title{
  font-size: 2rem;
  margin-bottom: 20px;
}

.newnote-page{
  height: calc(100vh -52px);
  width: 60%;
}

.field:not(:last-child){
  margin-bottom: 2.75rem;
}

.card-button{
  border: none;
  color: #3273dc;
  cursor: pointer;
  text-decoration: none;
  font-size: 16px;
}

.card-button:hover{
  color: #363636;
}

.App{
  background-color: rgba(165, 164, 164, 0.1);
  min-height: 95vh;
}


.App-body{
  padding: 8%;
}


.loader {
  border: 3px solid hsla(185, 100%, 62%, 0.2);
  border-top-color: #ffffff;
  border-radius: 50%;
  width: 1.5em;
  height: 1.5em;
  animation: spin 0.7s linear infinite;
  margin: auto;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.ml-15{
  margin-left: 15px;
}

@media all and (max-width: 1024px){
  .input{
    width: 100%;
  }
}

@media all and (max-width: 768px){
  .newnote-page{
    width: 100%;
  }
}
